.bgblack { background-color:#111;}
.bgorange { display:block;background-color:orange;}
.pad5px { padding:5px;}
.pad25px { padding:25px; }
.pad100px { padding:100px; }
.debug {border:1px solid green;}
